In [1]:
import pandas as pd

In [2]:
import pandas as pd
df = pd.read_excel("sample-data-10mins.xlsx")
print(df)

          Sales Person    Country              Product       Date  Amount  \
0       Jehu Rudeforth         UK      Mint Chip Choco 2022-01-04    5320
1          Van Tuxwell      India        85% Dark Bars 2022-08-01    7896
2         Gigi Bohling      India  Peanut Butter Cubes 2022-07-07    4501
3         Jan Morforth  Australia  Peanut Butter Cubes 2022-04-27   12726
4       Jehu Rudeforth         UK  Peanut Butter Cubes 2022-02-24   13685
...                ...        ...                  ...        ...     ...
1089  Karlen McCaffrey  Australia  Spicy Special Slims 2022-05-17    4410
1090    Jehu Rudeforth        USA           White Choc 2022-06-07    6559
1091      Ches Bonnell     Canada  Organic Choco Syrup 2022-07-26     574
1092    Dotty Strutley      India              Eclairs 2022-07-28    2086
1093  Karlen McCaffrey      India       70% Dark Bites 2022-05-23    5075

      Boxes Shipped
0               180
1                94
2                91
3               342
4               184
...             ...
1089            323
1090            119
1091            217
1092            384
1093            344

[1094 rows x 6 columns]